@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <NavMenu/>
    </div>
    
    <main role="main" class="pt-5">
        <div class="container-fluid">
            <div class="row">
                @Body
            </div>
        </div>
    </main>
    
    <footer class="d-flex flex-column flex-md-row justify-content-between align-items-center p-3 px-md-4 mt-5 bg-white border-top box-shadow small">
        <span>All rights reserved. No responsibility for content.</span>
        <a href="https://www.denysov.me" target="_blank" class="text-decoration-none">
            Keyboarded with 💛💙 by Mr. K
        </a>
    </footer>
</div>
