@rendermode InteractiveServer

@using System.Globalization
@using System.Text.Encodings.Web
@using UrlSamurai.Components.Services
@using UrlSamurai.Data.Entities
@inject QrCodeService QrService

<div class="alert alert-success mt-4 d-flex flex-column align-items-center text-center">
    <div class="mb-3">
        <strong>Shortened URL:</strong>
        <div class="d-flex align-items-center justify-content-center mt-2">
            <span class="me-3">@_formattedUrl</span>
            <button type="button"
                    class="btn btn-sm btn-outline-secondary"
                    onclick="navigator.clipboard.writeText('@_formattedUrl')">
                Copy
            </button>
        </div>
    </div>

    <img class="img-fluid rounded border" 
         style="max-height: 200px; max-width: 200px" 
         src="data:image/png;base64,@_base64Qr" 
         alt="QRCode"/>
</div>

@code {
    [Parameter] public Urls? GeneratedUrl { get; set; }
    
    private string? _base64Qr;
    private string? _formattedUrl;

    protected override void OnInitialized()
    {
        if (GeneratedUrl?.ShortId is null)
        {
            return;
        }
        
        _formattedUrl = string.Format(CultureInfo.InvariantCulture, "https://www.twik.cc/u/{0}", UrlEncoder.Default.Encode(GeneratedUrl.ShortId));
        _base64Qr = QrService.GenerateBase64(_formattedUrl);
    }
}